/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.spacer-top-15 {
    margin-top: 15px;
}

.spacer-bottom-20 {
    margin-bottom: 20px;
}

.spacer-bottom-25 {
    margin-bottom: 25px;
}

.clickable:hover {
    cursor: pointer;
}

.selected {
    font-weight: 900;
}

.navbar-expand > .container {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    padding-right: 0;
    padding-left: 0;
}
