<div class="container">
  <div class="row">
    <div class="col">
      <div class="pt-2"></div>
      <form>
        <div class="form-group">
          <label for="username">Benutzername</label>
          <input type="text" class="form-control" id="username" placeholder="John Doe" />
        </div>
      </form>
      <div class="spacer-bottom-25"></div>
      <div *ngIf="noUsernameWarning" class="alert alert-warning" role="alert">
        Du musst einen Benutzernamen angeben.
      </div>
      <div class="pt-3"></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Raum erstellen</h2>
      <div class="pt-4"></div>
      <button class="btn btn-primary" id="createRoom" type="submit" (click)="createRoom()">Raum erstellen</button>
    </div>
    <div class="col">
      <h2>Raum beitreten</h2>
      <div class="pt-4"></div>
      <form>
        <div class="form-group">
          <label for="roomID">Raum-ID</label>
          <input class="form-control" id="roomID" placeholder="09285313-65b0-4283-b7ef-cb99a96dce25" />
        </div>
      </form>
      <div class="spacer-bottom-25"></div>
      <div *ngIf="noRoomIdWarning" class="alert alert-warning" role="alert">
        Du musst eine Raum-ID angeben.
      </div>
      <div *ngIf="roomExistsWarning" class="alert alert-warning" role="alert">
        Der angegebene Raum existiert nicht.
      </div>
      <div class="pt-3"></div>
      <button class="btn btn-primary" id="joinRoom" type="submit" (click)="joinRoom()">Raum beitreten</button>
      <div class="spacer-bottom-25"></div>
    </div>
  </div>
</div>
