<div class="container">
  <div class="row">
    <div class="col">
      <div class="pt-2"></div>
      <form>
        <div class="form-group">
          <label for="username">Benutzername</label>
          <input class="form-control" id="username" placeholder="JohnDoe" />
        </div>
      </form>
      <div class="pt-3"></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Raum erstellen</h2>
      <div class="pt-4"></div>
      <button class="btn btn-primary" type="submit">Raum erstellen</button>
    </div>
    <div class="col">
      <h2>Raum beitreten</h2>
      <div class="pt-4"></div>
      <form>
        <div class="form-group">
          <label for="roomID">Raum-ID</label>
          <input class="form-control" id="roomID" placeholder="09285313-65b0-4283-b7ef-cb99a96dce25" />
        </div>
      </form>
      <div class="pt-3"></div>
      <button class="btn btn-primary" type="submit">Raum beitreten</button>
    </div>
  </div>
</div>
