<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand">Scrum Poker</a>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="chooseLanguageDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <fa-icon [icon]="faGlobe"></fa-icon> {{ 'general.selectLanguageButton' | translate }}
          </button>
          <div class="dropdown-menu" aria-labelledby="chooseLanguageDropdownButton">
            <a class="dropdown-item clickable" (click)="useLanguage('de')">Deutsch</a>
            <a class="dropdown-item clickable" (click)="useLanguage('en')">English</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
