<div *ngIf="roomService.roomId">
  <h4>Details</h4>
  <div class="row">
    <div class="col" id="divRoomID">
      <h5>Raum-ID</h5>
      <p>{{ roomService.roomId }}</p>
    </div>
    <div class="col" id="divOwnUsername">
      <h5>Dein Name</h5>
      <p>{{ roomService.username }}</p>
    </div>
    <div class="col" id="divRoomUsers">
      <h5>Benutzer im Raum</h5>
      <p>{{ roomService.users.length }}</p>
    </div>
  </div>
  <div class="spacer-bottom-25">
    <button type="button" class="btn btn-primary mr-1" (click)="revealCards()">Karten aufdecken</button>
    <button type="button" class="btn btn-danger" (click)="resetCards()">Karten zurücksetzen</button>
  </div>
  <hr />
  <div id="selectableCardsContainer"></div>
  <h4 style="margin: 15px 0 20px 0">Deine Schätzung</h4>
  <div class="row">
    <div class="col-sm-3" style="margin-bottom: 1em" *ngFor="let card of cards">
      <div class="card" (click)="selectCard(card.id)">
        <div class="card-body">
          <h3 class="card-title">{{ card.label }}</h3>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <h5></h5>
  <div id="otherUsersContainer">
    <h4 class="spacer-top-15 spacer-bottom-20">Benutzer im Raum</h4>
    <div class="row">
      <div class="col-sm-4" style="margin-bottom: 1em" *ngFor="let user of roomService.users">
        <div class="card" [ngClass]="{'bg-success': user.selectedCard > -1}">
          <div class="card-body">
            <h3 class="card-title">{{ user.username }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="!(roomService.roomId)">
  <h2>Du bist zurzeit in keinem Raum!</h2>
  <p>Kehre zur <a href="/">Startseite</a> zurück, um einen Raum zu erstellen oder einem beizutreten.</p>
</div>

